/* 全体のスタイル */
body {
    font-family: Arial, sans-serif; /* フォントの指定 */
    line-height: 1.6; /* 行間を広げる */
    background-color: #f4f4f4; /* 背景色 */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* ヘッダーの背景色 */
    color: white; /* 文字色 */
    padding: 10px 0; /* 上下の余白 */
    text-align: center; /* 中央揃え */
}

header h1 {
    margin: 0; /* 余白をなくす */
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333; /* フッターの背景色 */
    color: white; /* 文字色 */
    text-align: center;
    padding: 10px 0; /* 上下の余白 */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cat-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 12.5vw; /* 画面の8分の1 */
    height: 12.5vw; /* 画面の8分の1 */
    background-color: #ffcc00;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}

.cat-image-container {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 12.5vw; /* 画面の8分の1 */
    height: 12.5vw; /* 画面の8分の1 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/* 親要素に適用 */
.container {
  width: 100%;
  max-width: 100%; /* 必要に応じて最大幅を設定 */
  overflow-wrap: break-word; /* テキストが自動的に改行されるようにします */
  word-break: break-all; /* 単語が部分的に改行されるようにします */
}
